<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            padding: 20px;
            color: #333;
        }

        .email-container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            max-width: 600px;
            margin: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .logo {
            height: 50px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="email-container">
        <img src="static/Trot-Logo.png" class="logo" alt="TROT Logo">
        <p>Здравейте, {{ name }}!</p>

        <p>Сигурно сте се чудили какво означава размер от рода на 80/65-6</p>
        <P>Сега ще разбулим мистерията зад това съкращение при гумите на електрическите тротинетки и скутери!</P>
        <p>Размер на гуми 80/65-6 означава следното:
            <br><strong>- 80 е широчината на гумата</strong> в милиметри
            <br><strong>- 65 е 65% от широчината й</strong> (80), което е 52 милиметра и това е височината на страничната й стена
            <br><strong>- 6 е вътрешният й диаметър</strong> в инчове - 6 * 2.54 ни дава 15.24 в сантиметри
        </p>
        <P>Остава ни само да измерим вашата, за да узнаем размера й с точност.</P>

        <p>Поздрави,<br>TROT.BG</p>
        <img src="https://trot.bg/static/pixel.png" width="1" height="1" style="display:none">
    </div>
</body>

</html>