<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            padding: 20px;
            color: #333;
        }

        .email-container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            max-width: 600px;
            margin: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .logo {
            height: 50px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="email-container">
        <img src="static/Trot-Logo.png" class="logo" alt="TROT Logo">
        <p>Здравейте, {{ name }}!</p>
        <p>Ще се радваме да се свържем с Вас в социалните мрежи, където също може да ни пишете и получите отговор.</p>
        <a href="https://www.facebook.com/profile.php?id=61575267604907"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/2023_Facebook_icon.svg/600px-2023_Facebook_icon.svg.png?20231011122028"
                class="logo" alt="Facebook Icon"></a>
        <a href="https://www.instagram.com/trotbg/"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/CIS-A2K_Instagram_Icon_%28Pink%29.svg/512px-CIS-A2K_Instagram_Icon_%28Pink%29.svg.png?20200207140703"
                class="logo" alt="Instagram Icon"></a>
        <a href="https://www.youtube.com/@TrotBG"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/512px-YouTube_full-color_icon_%282017%29.svg.png?20240107144800"
                class="logo" alt="YouTube Icon"></a>
        <p>Поздрави,<br>TROT.BG</p>
        <img src="https://trot.bg/static/pixel.png" width="1" height="1" style="display:none">
    </div>
</body>

</html>